
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>WebSockets Example</title>
  <%= assets(:css) %>
</head>
<body>
  <%= KISSCraft::HTMLGenerator.generate_side_nav %>
  <div class="main">
    <div id="output"></div>
    <div id="input">
      <input type="text" id="stdin" name="stdin">
    </div>
  </div>
  <script>
    const socket = new WebSocket('wss://localhost:9292/console');

const stdout = document.getElementById('output');

const stdin = document.getElementById("stdin");

stdin.addEventListener("keydown", function (e) {
  if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
    writeToStdin(e.target.value);
    e.target.value = "";
    stdout.scrollTop = stdout.scrollHeight;
  }
});

function writeToStdin(data){
  socket.send(JSON.stringify(data));
};

socket.onopen = function() {
  socket.send(JSON.stringify("JOINED"));
};

socket.onmessage = function(event) {
  var autoScroll = (stdout.scrollHeight - stdout.scrollTop - stdout.clientHeight) < 1 ? true : false;

  stdout.innerHTML += "<div>" + JSON.parse(event.data) + "</div>";
  
  if (autoScroll){
    console.log("here")
    stdout.scrollTop = stdout.scrollHeight;
  };
};

  </script>
</body>
</html>

